﻿@using CrawlB2.Controllers
@model List<QuestionModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @foreach (var qus in Model)
    {
        <p>@Html.Raw(qus.Question)</p>
        @foreach (var ans in qus.Answer)
        {
            <p>@Html.Raw(ans)</p>
        }
    }
</div>